<title>
  <%= content_for(:html_title) || (signed_in? ? Docuseal.product_name : "#{Docuseal.product_name} | #{t('open_source_documents_software').capitalize}") %>
</title>
<%= render 'shared/meta' %>
